#main-header {
    background-image: url("/img/pattern.png");
    background-color: aqua;
    height: 150px;

}

img {
    height: 100px;
    padding-top: 50px;
}

.writer {
    color: grey;
    margin-top: 0px;

}

#author {
    color: aqua
}

.title {
    margin-bottom: 0px;
}

main div img {
    height: 250px;
}

.image-description {
    margin: 0px 0px;
    font-size: 12px;
}

.highlighted {
    background-color: yellow;
}

#list {
    padding-left: 20px;
}

/* Da chiedere sui 20 px */

#final {
    margin-top: 10px;
}

footer img {
    padding: 0px;
}

footer h3 {
    color: grey;
    font-size: 20px;
}

#pubblicità-1 {
    background-image: url("/img/monitor.jpg");
    height: 150px;
    color: white;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
}

#pubblicità-2 {
    background-image: url("/img/graph.jpg");
    height: 150px;
    color: white;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
}

/* Css della Tabella */

.row-1 {
    background-color: rgb(0, 183, 255);
}

.row-2 {
    background-color: rgb(0, 245, 245);
}